<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function input() {
        var nama = $('.nama').val();
        var nomorHp = $('.nomorHp').val();
        var sekolah = $('.sekolah').val();
        var email = $('.email').val();
        var response = $('#response');

        if (nama == '') {
            response.hide()
                .addClass('responseWait')
                .text('Masih ada data yang belum diisi')
                .fadeIn(200);
        }

        else if (nomorHp == '') {
            response.hide()
                .addClass('responseWait')
                .text('Masih ada data yang belum diisi')
                .fadeIn(200);
        }

        else if (sekolah == '') {
            response.hide()
                .addClass('responseWait')
                .text('Masih ada data yang belum diisi')
                .fadeIn(200);
        }

        else if (email == '') {
            response.hide()
                .addClass('responseWait')
                .text('Masih ada data yang belum diisi')
                .fadeIn(200);
        }

        else {
            $.ajax({
                url: '/qc-daftar',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    'nama': nama,
                    'nomorHp': nomorHp,
                    'sekolah': sekolah,
                    'email': email
                })
            })
            window.location.href = "/welcome";

            response.hide()
                .addClass('responseWait')
                .text('SUCCESS')
                .fadeIn(200);
        }


    }
</script>

<body background="/images/bg-dark-100.jpg">
    {{>navbar}}
    <div class="table width100">
        <h1 class="font-content30 white align-center">Quesscomp Registration</h1>
    </div>
    <div id="width100" class="margin-top0">
        <div class="left padding-left5 width50">
            <p class="font-content margin-bottom0 white">Nama Perwakilan Tim</p>
            <input type="text" class="nama font-content white margin-top0">

            <p class="font-content margin-bottom0 white">Nomor HP</p>
            <input type="text" class="nomorHp font-content white margin-top0">

            <p class="font-content margin-bottom0 white">Sekolah</p>
            <input type="text" class="sekolah font-content white margin-top0">

            <p class="font-content margin-bottom0 white">E-Mail</p>
            <input type="text" class="email font-content white margin-top0">
        </div>
        <div class="padding-right5 width40 right">
            <h1 class="font-content30 align-left white">Syarat & Ketentuan</h1>
            <p class="align-left font-content-kecil white">1. Peserta adalah siswa SMA/SMK/MA sederajat
                se-Jabodetabek
                yang dibuktikan
                dengan fotokopi kartu
                pelajar.
            </p>
            <p class="align-left font-content-kecil white">2. Peserta merupakan tim yang terdiri dari 3 siswa dalam
                satu sekolah.
            </p>
            <p class="align-left font-content-kecil white">3. Dalam 1 tim diperbolehkan berisi gabungan antara
                laki-laki dan perempuan.
            </p>
            <p class="align-left font-content-kecil white">4. Setiap sekolah maksimal mengirimkan 2 tim.
            </p>
            <button onclick="input()" class="box font-content vertical-title-center">DAFTAR</button>
            <p id="response" class=""></p>
        </div>
    </div>

    {{!-- <div class="table margin-top0 width100">
        <div class="table-cell padding-left-content width50">
            <div class="table-row align-left width100">
                <p class="font-content margin-bottom0 white">Nama Perwakilan Tim</p>
                <input type="text" class="nama font-content white margin-top0">
            </div>
            <div class="table-row align-left width100">
                <p class="font-content margin-bottom0 white">Nomor HP</p>
                <input type="text" class="nomorHp font-content white margin-top0">
            </div>
            <div class="table-row align-left width100">
                <p class="font-content margin-bottom0 white">Asal Sekolah</p>
                <input type="text" class="sekolah font-content white margin-top0">
            </div>
            <div class="table-row align-left width100">
                <p class="font-content margin-bottom0 white">E-Mail</p>
                <input type="text" class="email font-content white margin-top0">
            </div>
        </div>
        <div class="table-cell align-center width50">
            <div class="table-row height width100">
                <h1 class="font-content30 align-left white">Syarat & Ketentuan</h1>
                <p class="align-left font-content-kecil white">1. Peserta adalah siswa SMA/SMK/MA sederajat
                    se-Jabodetabek
                    yang dibuktikan
                    dengan fotokopi kartu
                    pelajar.
                </p>
                <p class="align-left font-content-kecil white">2. Peserta merupakan tim yang terdiri dari 3 siswa dalam
                    satu sekolah.
                </p>
                <p class="align-left font-content-kecil white">3. Dalam 1 tim diperbolehkan berisi gabungan antara
                    laki-laki dan perempuan.
                </p>
                <p class="align-left font-content-kecil white">4. Setiap sekolah maksimal mengirimkan 2 tim.
                </p>
            </div>

            <div class="table-row height20 align-left align-bottom width100">
                <div class="table-row">
                    <button onclick="input()" class="box font-content vertical-title-center">DAFTAR</button>
                    <p id="response" class=""></p>
                </div>
            </div>
        </div>
    </div> --}}
</body>
