<body class="background">
    {{>navbar}}
    <div id="width100" class="align-center">
        <img id="gambar" src="images/opening.png" class="margin-center">
        <img id="gambar" src="images/what-is.png" class="padding-top50 margin-center">
        <p class=" font-content white align-left padding-left-content padding-right-content" style="margin-top:0%">
            Compiler
            adalah
            Core Event
            dari
            Himpunan Mahasiswa Teknik
            Informatika Universitas Bakrie yang
            membahas tentang era digital. COMPILER ini sudah berlangsung sejak 2010 dan menjadi event tahunan
            di Informatika Universitas Bakrie. COMPILER tahun ini akan mengangkan tema tentangtransisi
            perkembangan teknologi dari mulai era tak berwarna menjadiera yang lebih berwarna seperti sekarang.
        </p>
        <img id="gambar" src="/images/compi-content.png" class="padding-top100">
        <img id="gambar" src="/images/our-mascot.png">
        <p class=" font-content white align-left padding-left-content padding-right-content" style="margin-top:0%">
            Maskot kita yang bernama COMPI berbentuk musang yang berpakaian bergaya 90’s. Kenapa 90’s ? Karena
            di era sembilan puluhanteknologi sedang berkembang pesat menjadi keren seperti sekarang ini.Mascot
            ini diciptakan oleh Mahasiswa Teknik Informatika Universitas Bakrie sendiri.
        </p>
        <img id="gambar" src="/images/compi-evo.png">
        <p class="font-content30 white align-center">The Evolution</p>
        <img id="gambar" src="/images/theme.png" class="padding-top100">
        <img id="gambar" src="/images/whats-on.png" class="padding-top200">
        <img id="gambar" src="/images/competition.png" class="padding-top100">

        {{!-- BAGIAN COMPETITION --}}
        <div>
            <img src="/images/design-graphic.png" class="compe left padding-left-content">
            <p class="font-content30 margin0 align-left white padding-right-content">Graphic Design</p>
            <p class="font-content height90 padding-right-content margin0 align-left white">
                Graphic Design Competition merupakan kompetisi untuk menciptakan ilustrasi, atau hasil
                karya peserta di dunia desain.
            </p>
        </div>

        <div style="margin-top: 90px">
            <img src="/images/MAI.png" class="compe mobile padding-right-content" style="margin: 0%">
            <p class="width50 left font-content30 margin0 padding-left-content align-left white">Mobile
                Apps
                Innovation</p>
            <p class="width50 left  font-content margin0 padding-left-content align-left white">
                Mobile apps innovation merupakan kompetisi pembangunan aplikasi kreatif yang mampu
                menyelesaikan permasalahan di dunia sekitar.
            </p>
            <img id="gambar2" src="/images/MAI.png" class="compe desktop padding-right-content">
        </div>

        <div style="margin-top: 100px">
            <img src="/images/web-design.png" class="compe padding-left-content left">
            <p class="padding-right-content margin0 font-content30 align-left white">Web Design</p>
            <p class="font-content height90 margin0 padding-right-content align-left white">
                Web Design Competition adalah ajang yang ditunjukan untuk para pengembang website.
            </p>
        </div>

        <div style="margin-top: 90px">
            <img src="/images/quesscomp.png" class="mobile compe">
            <p class="width50 font-content30 left padding-left-content align-left white margin0" style="margin-top:0%">
                Quesscomp</p>
            <p class="width50 left font-content padding-left-content height90 align-left white" style="margin:0%">
                Quesscomp adalah kompetisi
                cerdas cermat
                tentang perkembangan teknologi yang sedang terjadi saat ini yang ditujukan kepada siswa
                SMA/MA/K sederajat.
            </p>
            <img src="/images/quesscomp.png" class="desktop compe">
        </div>

        <div style="margin-top: 50px">
            <img src="/images/pubgm.png" class="compe left padding-left-content">
            <p class="padding-right-content font-content30 margin0 white align-left" style="margin-top:0%">PUBG
                Mobile</p>
            <p class="padding-right-content font-content white align-left" style="margin-top:0%">PUBG MOBILE
                COMPETITION merupakan ajang
                kompetisi permainan multiplayer online battle royale.</p>
        </div>
        <img id="gambar" src="/images/semantic.png" class="padding-top100">
        <p class=" font-content white align-left padding-left-content padding-right-content" style="margin-top:0%">
            Semantic adalah Seminar Of Informatics. Pada seminar akan dihadirkan pembicara yang ahli dalam
            bidang bisnis dan teknologi, yang bertujuan untuk mengajarkan dan memberi motivasi kepada calon
            pebisnis muda Indonesia.
        </p>
        <img id="gambar" src="/images/it-ex.png" class="padding-top100">
        <p class=" font-content white align-left padding-left-content padding-right-content" style="margin-top:0%">
            IT Exhibition merupakan pameran yang menampilkan project dan start up dari internal maupun
            eksternal, tidak hanya semua tentang IT namun juga akan terdapat Stand atau Booth untuk meramaikan
            COMPILER 2019.
        </p>
    </div>

    <div class="align-center padding-left-content padding-right-content" style="margin-top: 100px">
        <p class="font-content30 white white">DO YOU WAN'T TO JOIN ?</p>
        <div class="width20 left" style="display: inline; margin-top: 20px">
            <a href="/gd-daftar">
                <img src="/images/design-kecil.png">
            </a>
            <p class="font-content-kecil white">Graphic Design</p>
        </div>

        <div class="width20 left" style="display: inline; margin-top: 20px">
            <a href="/gd-daftar">
                <img src="/images/MAI-kecil.png">
            </a>
            <p class="font-content-kecil white">Mobile Apps Innovation</p>
        </div>

        <div class="width20 left" style="display: inline; margin-top: 20px">
            <a href="/wd-daftar">
                <img src="/images/web-kecil.png">
            </a>
            <p class="font-content-kecil white">Web Design</p>
        </div>

        <div class="width20 left" style="display: inline; margin-top: 20px">
            <a href="/qc-daftar">
                <img src="/images/quesscomp-kecil.png">
            </a>
            <p class="font-content-kecil white">Quesscomp</p>
        </div>

        <div class="width20 left" style="display: inline; margin-top: 20px">
            <a href="/pubgm-daftar">
                <img src="/images/pubgm-kecil.png">
            </a>
            <p class="font-content-kecil white">PUBG Mobile</p>
        </div>

    </div>
</body>
